<h1>パスワード再設定</h1>

<p>パスワードを再設定するために、下のリンクをクリックしてくたさい。</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは２時間で期限切れになります。</p>

<p>
  もし再設定をリクエストした記憶がないなら、このメールは無視しパスワードは変更しないでください。
</p>